#tab-content div {
  display : none;
  }
  
#tab-content div.is-active{
    display: block;
  }
  #tab-content div.control{
    display: flex;
  }
  #tab-content div.select{    
    display: block;
  }
  #tab-content div.box{    
    display: block;
  }
  #tab-content div.media-content{    
    display: block;
  }
  .table tr:hover{
    background-color: #00d1b2!important;
    color: #fff!important;
  }


  